{% extends "blog/base.html" %}

{% load static %}

{% block content %}

    <br>

    <div class="row">

        <div class="col-5">

            <h2>Login</h2>

            <br>

            {% if form.errors %}
                <p>Opa! Seu nome ou senha estão incorretos.</p>
            {% endif %}

            <form method="post" action="{% url 'login' %}">

                {% csrf_token %} 

                Nome:
                {{ form.username }}

                <br><br>

                Senha:
                {{ form.password }}

                <br><br>

                <input class="btn btn-outline-dark" type="submit" value="Entrar" />
                <input type="hidden" name="next" value="{{ next }}" />

            </form>


            <br><a href="{% url 'password_reset' %}" class="btn btn-outline-info">Perdeu a senha?</a>

            <br>

        </div>
        <div class="col">
            <img src="{% static 'cerebro.jpg' %}" class="img-fluid">
        </div>

    </div>

    {% endblock %}
