{% load static %}
<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <!-- Meta tags Obrigatórias -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    </head>
    <body>
            <style>
                body{
                    background-image: url(https://cdn.shopify.com/s/files/1/0153/0623/products/Brick_Wallpaper_in_White_and_Red_from_the_Strata_Collection_by_Graham_Brown_870b314c-1b0c-4fe6-bf51-1212878fe033_large.jpg?v=1546284287);
                }
                #nome{
                    font-size: 100px;
                    padding: 5px 20px;
                }
                a.icone:hover, a.icone:visited, a.icone:link, a.icone:active{
                    color: #ffffff;
                }
            </style>

                    <div style="background-color: #ffffff;">
                
                        <center><p id="nome" style="font-family: Times;"><img src="{% static 'livroloko.gif' %}" width="150" height="150">Guardiã do ensino<img src="{% static 'livroloko.gif' %}" width="150" height="150"></p></center> <!--- nomes: Guardiã do ensino, chuva de ensino, caminhos do ensino,--->

                        <nav class="navbar navbar-expand-lg mt-0" style="background-color: #022c62; color: #ffffff;">
                            <img src="{% static 'home.png' %}" width="25" height="25">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active mr-3 ml-2">
                                    <a class="navbar-brand icone" href="/../"> Home</a>
                                </li>
                                    {% for category in categories %}
                                        <li class="nav-item">
                                            <a class="nav-link icone" href="{% url 'category-detail' category.pk %}">{{ category.name }}</a>
                                        </li>   
                                    {% endfor %}
                            </ul>
                            <a href="{% url 'login'%}" class="nav-link mx-2 icone">Login</a>
                            <form class="form-inline my-2 mx-4" action="{% url 'search' %}" method="get">
                                <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar posts" name="q">
                                <input class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Pesquisar">
                            </form>
                        </nav>

                    </div>

                    <div class="container" style="background-color: #ffffff">
                        <div style="min-height: 700px;">
                            {% block content %}
                            {% endblock %}
                        </div>

                    </div>

                    <nav class="navbar navbar-expand-lg" style="background-color: #022c62; color: #ffffff;">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <h4 class="navbar-brand">Obrigada pela visita!</h4>
                            </li>
                            <li class="nav-item">
                                <p class="py-2">Todos os  direitos reservados</p>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-outline-light">Voltar ao topo</a>
                    </nav>

        

        <!-- JavaScript (Opcional) -->
        <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
    </html>