{% extends "blog/base.html" %}

{% load static %}

{% block content %}
	<h2 class="py-4">{{ object.name }}</h2>

	<div class="row">

		{% for post in object.posts.all %}
			{% include "blog/post_card.html" %}
		{% endfor %}

	</div>
{% endblock %}