{% extends "blog/base.html" %}

{% load static %}

{% block content %}
	<h2 class="py-4 font-italic" style="font-family: Times;">{{ object.title }}</h2>
	Categoria: {{ object.category }}
		<br>
	Por: {{ object.author }}
		<br><br>
	<p>{{ object.text|safe }}</p>
		<br>
	Postado em: {{ object.created_at }}<br><br>
	<img src="{{ object.banner.url }}" class="img-fluid">
		<br><br>
	<h3>Comentários:</h3>
	<br>
	<p>Faça um comentário:</p>
	<form method="POST" action="{% url 'comment' object.id %}">
		{% csrf_token %}
		<textarea name="text" class="form-control" rows="3"></textarea>
		<br>
		<input type="submit" value="Comentar" class="btn btn-dark">
	</form>

	<br><br>

		{% for comment in object.comments.all %}
			<div class="card border-info">
				<div class="card-body">
					<h5>{{ comment.author }}</h5>
					<hr>
					<p class="card-text">{{ comment.text|safe }}</p>
				</div>
			</div>
			<br>
		{% endfor %}
{% endblock %}

