{% extends "blog/base.html" %}

{% load static %}

{% block content %}
	<br>
	
	<h2>Resultados da pesquisa:</h2>

    <br>

    {% for post in object_list %}
        {% include "blog/post_card.html" %}
    {% endfor %}


{% endblock %}